header{
  background-color: $teal;
  color: mintcream;
  padding: 1rem;
  @include media-breakpoint-up(sm) {
    padding: 2rem;
  }
}

header h1{
  font-size: 1.5rem;
  @include media-breakpoint-up(sm) {
    font-size: 3rem;
  }
}