.player-login {
  @include media-breakpoint-down(md) {
    margin-left: 2rem;
    margin-right: 2rem;
  }

  @include media-breakpoint-up(sm) {
    label {
      font-size: 1.3rem;
    }

    button {
      font-size: 1.3rem;
    }
  }

  @include media-breakpoint-down(xsm) {
    .btn {
      padding-left: 0.2rem !important;
      padding-right: 0.2rem !important;
    }
  }
}