@keyframes flicker {
  from {
    background-color: $tab-bg;
  }

  to {
    background-color: $tab-notify-bg;
  }
}

.tabs {
  background-color: white !important;

  .nav-link.notifying {
    animation: flicker alternate infinite 1s;
  }
}

